extends layout

block content
  h1= title
  p Welcome to our #{title}!
  .container
    h2 Leave us a note!
    form.form-inline
      .form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='Enter email')
        label(for='pwd') Password:
        input#pwd.form-control(type='password', placeholder='Enter password')
        label(for='Message') Message:
        input#text.form-control(type='text-field',  placeholder='Leave a message')
        button.btn.btn-primary#btnSubmit(type="submit") Send!
