extends layout

block content
   h1.
    Sign my guestbook!
   form#formAddUser(name="adduser", method = "post", action="/adduser")
     input.form-group#inputUserName(type="test", placeholder="Name", name="name" require)
     input.form-group#inputUserEmail(type="test", placeholder="Email", name="email")
     input.form-group#inputUserComment(type="test", placeholder="Comment", name="message")
     button.btn.btn-default#btnSubmmit(type="submit")  submit

   table.table.table-striped
    thead
     tr
      td Name
      td Email
      td Comments
      td
    tbody
     each user, i in userlist
      tr
       td(href="mailto:#{user.email}")= user.username
       td #{user.email}
       td #{user.comment}
       td
        a.btn.btn-danger(href="#{user._id}") Delete
