extends layout

block content
   h1.
    Sign my guestbook!
   form#formAddUser(name="postMessage", method = "post", action="/postMessage")
     input.form-group#inputUserEmail(type="text", placeholder="Email", name="useremail")
     input.form-group#inputUserName(type="text", placeholder="Name", name="username")
     input.form-group#inputUserComment(type="text", placeholder="Message", name="usermessage")
     button.btn.btn-default#btnSubmmit(type="submit")  submit

   table.table.table-striped
    thead
     tr
      td Name
      td Email
      td Comments
      td
    tbody
     each user, i in userlist
      tr
       td(href="mailto:#{user.email}")= user.name
       td #{user.email}
       td #{user.message}
       td
        a.btn.btn-danger(href="#{user._id}") Delete
